/*Header and footer*/

#header {
    text-align: center;

}
#header img {
    width: 50px;
    height: 50px;
}

#header a {
    color: black;
}

#header a:hover {
    text-decoration: none;
}

#nav a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
    opacity: 0.5;
    transition: 0.3s;
}

#nav a:hover {
    text-decoration: none;
    opacity: 1;
}

#icon {
    font-size: 200%
}

body { 
    display:flex; 
    flex-direction:column; 
}

footer {
    margin-top:auto; 
}

.mt100 {
    margin-bottom: 100px;
}

.mt10 {
    margin-bottom: 10px;
}

.mt30 {
    margin-bottom: 30px;
}
/*Content*/
.articleContent {
    display: inline-block;
}

.articleContent a:hover {
    text-decoration: none;
}

.articleContent a {
    color: black;
}

img.image {
    object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.articleContent p {
    color: gray;
}

.contentBottom span {
    margin-left: 10px;
    margin-right: 10px;
}

.latest a {
    text-decoration: none;
}

.latest img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.latest h4 {
    display: inline-block;
}

.year a {
    text-decoration: none;
}

.year img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.year h4 {
    display: inline-block;
}

/*Login*/
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login  .form-group {
    position: relative;
}
.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}
.modal-login .form-control {
    padding-left: 40px;
}
.modal-login .form-control:focus {
    border-color: #12b5e5;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
    transition: all 0.5s;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login input[type="checkbox"] {
    margin-top: 1px;
}
.modal-login .forgot-link {
    color: #12b5e5;
    float: right;
}
.modal-login .btn {
    background: #12b5e5;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #10a3cd;
}
.modal-login .modal-footer {
    color: #999;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    margin-top: -20px;
    justify-content: center;
}
.modal-login .modal-footer a {
    color: #12b5e5;
}
.trigger-btn {
    display: inline-block;
}

/*Middle*/

.contentBody {
    text-align: justify;
}